body{
    font-family: 'Didact Gothic', sans-serif;
    background-color: #FFFAFA;
    font-size: 15px;
}

.artist{
    font-size: 17px;
    font-weight: 600;
}

.title{
    font-size: 15px;
    font-weight: 600;
}

.bio{
    position: relative;
    margin-left: 38%;
}

.forma{
    position: relative;
    margin-left: 40%;
    margin-top: -1%;
}